/* Body */
.container {
    width: 90%;
}

.slideshow {
    width: 100%;
}

#slider1 {
    margin: 0 auto;
    width: 90%;
}

/* Code highlighting */
div.codehilite pre {
    background-color: #002b36;
}
